main {
    background-color: rgb(255, 255, 255);
}

.hero-image {
    width: 100%;
    min-height: 50vh;
    background-image: url("../assets/images/world-map.png");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan {
    color: white;
    text-align: center;
}

/* info cards */

.what-site-about-header {
    text-align: center;
}

.carousel-header {
    text-align: center;
}

.card-title,
.card-text {
    text-align: center;
}

.info-card {
    margin: 20px;
    border: 2px black solid;
}

.carousel-inner {
    text-align: center;
    border: 2px black solid;
}


/* #earth{
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0.05rem auto;
    background: url("../assets/images/world-map.png") 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 7s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 40px 6px rgb(0,0,0);
    color: #000;
}

@keyframes rotate { 
    0% { 
        background-position:0 0;
    }
    100% {
        background-position:630px 0 ;
    }
} */


/* styles for carbon count page*/

.img-thumbnail {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
}

.product-name {
    text-transform: capitalize;
}